body
{
	background-color: paleturquoise;
}
h1
{
	text-align: center;
}
h3
{
	color: purple;
	background-color: yellow;
	font-family: Verdana;
	border: 2px solid gold;
}
p 
{
	font-size: 20px;
	color: darkred;
}
table, th, td, tr
{
	border: 3px solid purple;
	border-collapse: collapse;
}
th
{
	background-color: yellow;
}
td
{
	text-align: center;
}
tr:hover
{
	background-color: lightsalmon;
}